#content{
	padding: 100px;
}
#content>form {
	width: 328px;
	margin: auto;
}
#content>form>fieldset>legend{
	font-size: 20px;
}

#content>form>fieldset>input{
	border: 1px solid #999999;
    color: #000000;
    font-family: Verdana;
    font-size: 14px;
    margin: 2px;
    padding: 4px;
    width: 300px;

}
#content>form>fieldset>input[type='submit'] {
	width: auto;
	float: right;
	font-weight: bold;
}
#content>div.error{
	color: #f00;
	text-align: center;
}
#content>div.msg{
	color: #0f0;
	text-align: center;
}