body{
    margin: 0;
    background-color: #F2F2F2;
    font-family: Verdana;
    font-size: 13px;
}
img{
    border: 0;
}
a{
    text-decoration: none;
    color: #000;
}
#header {
    height: 24px;
    margin-top: 5px;
    width: 1107px;
}
#main{
    margin: 20px auto;
    min-width: 900px;
}
#mainMenu,
#mainMenu>li>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#mainMenu>li>ul{
    position: absolute;
    display: none;
    margin-top: 14px;
}
#mainMenu>li:hover>ul{
    display: block;
}   
#mainMenu>li{
    float: left;
    margin-right: 4px;
}
#mainMenu>li>ul>li>a{
    display: block;
}
#mainMenu>li>a,
#mainMenu>li>ul>li>a{
    padding: 10px;
    font-weight: bold;
    color: #858585;
    background-color: #D9D9D9;
}
#mainMenu>li>a{
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 12px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 12px;
}
#mainMenu>li>ul>li + li>a{
    border-top: 1px dashed #DEDEDE;    
}
#mainMenu>li>a:hover,
#mainMenu>li>ul>li>a:hover{
    color: #000000;
    background-color: #FFFFFF;
}
#content{
    padding: 10px 10px 39px 10px ;
    background-color: #FFFFFF;
    border: 1px dashed #DEDEDE;    
}
#content img.gridImg {
    height: 35px;
    width: 35px;
}
.new-record{
    background-repeat: no-repeat;
    background-image: url('../img/add.png');
    background-position:left center;
    padding-left: 20px;
    margin: 10px 0;
    float: right;
}
input,
textarea,
select {
    width: 500px;
    height: 23px;
    border: 1px solid #999999;
    background-color: #FFFFFF;
    color: #000000;
    padding: 0 3px;
    margin: 4px 0;
}
#content>form>table>tbody>tr>td>textarea{
    height: 80px;
}
input[type='button'],
input[type='submit'] {
    width: auto;
    font-weight:  bold;
    margin: 0 2px;
}
#content>form .preview{
    max-width: 800px;
}
.list > .item {
    display: inline-table;
    margin: 0 8px;
    cursor: pointer;
    width: 200px;
}
.list a:hover:before {
    color: #FF0000;
    content: "Excluir";
    font-size: 33px;
    margin-left: 41px;
    margin-top: 114px;
    position: absolute;
    background-color: rgba(255,255,255,0.7);
}
.list img{
    margin-bottom: 52px;
    margin-top: 25px;
    width: 100%;
}
.list .order{
    z-index: 10;
    text-align: center;
}
.list .order>input{
    border: 1px solid #cfcfcf;
    width: 60px;
    height: 20px;
}
footer{
    text-align: center;
}