#main > .link a {
    display: inline-table;
}

#main > .link img {
    margin: 12px;
}

#main > .link p {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    display: block;
    font-family: 'EurostileExtendedTwo';
    font-size: 18px;
    height: 179px;
    margin: 13px 0 0 13px;
    opacity: 0;
    padding: 20px;
    position: absolute;
    width: 270px;
    transition: 0.5s ease-in;
}

#main > .link a:hover p {
    opacity: 1;
}

#main > .link input[type=button] {
    background-image: url("../img/icon_facebook.jpg");
    background-position: 2px center;
    background-repeat: no-repeat;
    border: medium none;
    font-size: 12px;
    margin-bottom: 3px;
    padding-left: 25px;
    padding-top: 7px;
    transition: 1s ease-in;
}

#main > .link input[type=button]:hover {
    color: #00609d;
    background-color: #ffffff;
}