#banner {
    text-align: center;
    overflow: hidden;
    background-position: top center;
    background-repeat: no-repeat;
    height: 333px;
    background-color: #d6dce0;
}

#banner > a.link {
    position: absolute;
    right: 0;
    left: 0;
    height: 448px;
}

#banner > .pagination {
    position: absolute;
    z-index: 10;
    right: 50%;
}

#banner > .pagination > li {
    display: block;
    float: left;
    margin-right: 7px;
}

#banner > .pagination a {
    background: none repeat scroll 0 0 #00609d;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    float: left;
    height: 12px;
    text-indent: -555em;
    width: 12px;
}