#sign-in {
    margin: auto;
    max-width: 1087px;
    padding: 0 22px;
}

#sign-in > form {
    position: absolute;
    z-index: 100;
    margin-top: 119px;
}

#sign-in img {
    display: block;
    margin-left: -12px;
}

#sign-in label {
    color: #FFF;
    text-shadow: 1px 1px #566d57;
    font-family: 'EurostileExtendedTwo';
    font-size: 20px;
    letter-spacing: -1px;
    margin-right: 2px;
    display: inline;
}

#sign-in input[type=email] {
    width: 243px;
}

#blue-line > .menu {
    margin: auto;
    max-width: 1087px;
    height: 200px;
    min-width: 674px;
    padding: 0 22px;
}

#blue-line > .menu > a > img {
    position: absolute;
}

#blue-line > .menu .hover {
    opacity: 0;
    transition: all 1s ease 0s;
    z-index: 10;
    position: absolute;
}

#blue-line .material {
    float: right;
    margin-right: 323px;
}

#blue-line .compartilhe {
    float: right;
    margin-right: 522px;
}

#blue-line > .menu .hover:hover {
    opacity: 1;
}

#main > h1 {
    color: #105fa2;
    font-size: 45px;
    text-align: center;
}

#main > p.subtitle {
    color: #3f3f3f;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
}

#main > .news {
    list-style-type: none;
    padding: 0;
}

#main > .news > li {
    float: left;
    width: 30%;
    padding: 10px;
}

#main > .news .title {
    color: #189e49;
    font-family: 'Montserrat', sans-serif;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: -1px;
}

#main > .news .text {
    color: #535353;
    font-family: Georgia, serif;
    font-size: 13px;
    line-height: 29px;
    text-align: left;
    word-spacing: 6px;
}

#main > .news img {
    width: 95%;
    display: block;
    margin: auto;
}

.read-more {
    background-color: #189e49;
    float: right;
    font-size: 13px;
    font-weight: bold;
    padding: 2px 8px;
    text-transform: uppercase;
    color: #ffffff;
}

@media (max-width: 1087px) {
    #banner {
        background: url("../img/bgmobile.jpg") center repeat !important;
    }

    #banner a,
    #banner .pagination {
        display: none;
    }

    #sign-in > form {
        left: 0;
        right: 0;
        text-align: center;
    }

    #sign-in img {
        margin: auto !important;
        height: auto;
        max-width: 518px;
        width: 100%;
    }
    #blue-line > .menu {
        display: none;
    }

    #main > .news > li {
        width: 100%;
    }
}