@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
    font-family: 'EurostileBoldExtendedTwo';
    src: url('../fonts/eubex.eot');
    src: url('../fonts/eubex.eot?#iefix') format('embedded-opentype'), url('../fonts/eubex.woff') format('woff'), url('../fonts/eubex.ttf') format('truetype'), url('../fonts/eubex.svg#EurostileBoldExtendedTwo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EurostileExtendedTwo';
    src: url('../fonts/euex.eot');
    src: url('../fonts/euex.eot?#iefix') format('embedded-opentype'), url('../fonts/euex.woff') format('woff'), url('../fonts/euex.ttf') format('truetype'), url('../fonts/euex.svg#EurostileExtendedTw127o') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    text-decoration: none;
    color: #000;
}

p {
    color: #434343;
    display: block;
    font-family: 'EurostileExtendedTwo';
    font-size: 20px;
    letter-spacing: -1px;
    list-style-type: none;
    padding-bottom: 20px;
}

label {
    color: #434343;
    font-family: 'EurostileExtendedTwo';
    font-size: 20px;
    display: block;
}

label > span {
    display: block;
    font-size: 12px;
    max-width: 386px;
}

input,
select,
textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #025f9e;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-bottom: 7px;
    padding: 5px;
}

input,
textarea {
    width: 350px;
}

textarea {
    display: block;
}

input[type=submit],
input[type=button] {
    background-color: #00609d;
    border: medium none;
    color: #fff;
    font-family: 'EurostileBoldExtendedTwo';
    font-size: 16px;
    padding-bottom: 1px;
    padding-top: 6px;
    text-transform: uppercase;
    width: auto;
}

#header {
    margin: auto;
    margin-top: 5px;
    max-width: 1087px;
    padding: 0 22px;
}

#header > .menu {
    list-style-type: none;
    float: right;
    margin-right: 18px;
    margin-top: 26px;
    text-align: right;
}

#header > .menu > li {
    float: left;
}

#header > .menu > li > a {
    color: #686868;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-right: 11px;
    text-transform: uppercase;
}

.menu {
    margin-right: 20px;
}

#yellow-line {
    background-color: #f9b526;
    height: 5px;
    margin-top: 5px;
}

#blue-line {
    background-color: #1161a1;
    height: 54px;
}

#blue-line > .title {
    display: block;
    margin: 0;
    background: url("../img/mosaictitle.png") no-repeat left bottom;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    font-weight: 700;
    margin: auto;
    padding-left: 2px;
    padding-top: 3px;
    text-transform: uppercase;
    overflow: hidden;
    max-width: 1087px;
    padding: 0 22px;
}

#main {
    margin: auto;
    max-width: 1087px;
    margin-top: 21px;
    padding: 0 22px;
}

#main p > a {
    color: #105fa2;
    text-decoration: underline;
}

#main > h1 {
    color: #059d48;
    font-family: Georgia, serif;
    font-size: 37px;
    font-style: italic;
    margin: 0;
    font-weight: normal;
}

.scale-1-7:hover {
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
    transition: 0.1s ease-in;
}

#main > div.link {
    text-align: center;
}
@media (max-width: 1100px) {
    #header > .logo > img {
        width: 135px;
        height: auto;
    }
    #header > .logo-aecio > img {
        width: 124px;
        height: auto;
    }
}
@media (max-width: 1087px) {

    #header > .mob-menu {
        position: absolute;
        right: 15px;
        top: 15px;
    }

    #header > .mob-menu > span {
        position: absolute;
        right: 0;
        width: 40px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        text-indent: -9999px;
        overflow: hidden;
        cursor: pointer;
        background: #FFF;
    }

    #header > .mob-menu > span::before {
        content: "";
        display: block;
        margin: 7px auto;
        height: 4px;
        width: 21px;
        background: #105fa2;
        box-shadow: 0 7px 0 0 #105fa2, 0 14px 0 0 #105fa2;
    }

    #header > .menu {
        left: -38px;
        margin-top: 62px;
        position: absolute;
        right: -16px;
        z-index: 900;
        max-height: 0;
        overflow: hidden;
        transition: 1s ease-in;
    }

    #header > .menu.active {
        max-height: 800px;
    }

    #header > .menu > li {
        background-color: #fff;
        border-bottom: 1px solid #999;
        text-align: center;
        padding: 8px 0;
        width: 100%;
    }

    #header > .menu a {
        color: #105fa2 !important;
        font-size: 26px !important;
    }

    #blue-line > .title {
        background: none !important;
        font-size: 20px !important;
        padding-top: 13px !important;
        text-align: center !important;
    }

    #main > div.link img {
        width: 95%;
        height: auto;
    }
}