#main img {
    display: block;
    margin: auto;
}

#main input[type=button] {
    display: block;
    font-size: 20px;
    margin: 30px auto 90px;
    padding-bottom: 4px;
    padding-top: 10px;
    text-transform: none;
}