div.sticker {
    color: #434343;
    display: block;
    font-family: 'EurostileExtendedTwo';
    font-size: 20px;
}
div.sticker span {
    text-align: right;
    max-width: 361px;
    display: block;
    font-size: 12px;
}
span > input {
    width: 40px;
}