.list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list > li {
    display: inline-table;
    margin-bottom: 37px;
    margin-right: 20px;
    width: 247px;
    background-color: #dddddd;
}

.list .title {
    color: #189e49;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
    min-height: 100px;
    text-align: left;
}

.list img {
    width: 100%;
}
@media (max-width: 1087px) {
    .list > li {
        float: none;
        width: 100%;
    }
    .list .title {
        min-height: inherit;
    }
}