
#main > .sidebar {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 446px;
}

#main > .sidebar > h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #1a5fa5;
    text-transform: uppercase;
    margin: 22px 0 2px;
}

#main > .sidebar img {
    width: 145px;
    height: 109px;
    margin-bottom: 5px;
}

#main > .sidebar .video:hover .icon {
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

#main > .sidebar .video .icon {
    position: absolute;
    -webkit-transition: 1s;
    transition: 1s;
    opacity: 1;
}

#main > .article {
    width: 557px;
    color: #7d7d7d;
    line-height: 26px;
    float: left;
}

#main > .article > .info-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 11px;
    color: #a6a6a6;
    text-transform: uppercase;
}

#main > .article > .info-header > .local-time {
    float: left;
}

#main > .article > .info-header > .share {
    float: right;
}

#main > .article > .info-header > .share img {
    margin-left: 2px;
}

#main > .article > .info-header > .share img {
    vertical-align: middle;
    margin: 0 1px;
}

#main > .article > h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 44px;
    color: #1a5fa5;
    margin: 0;
    line-height: normal;
}

#main > .article > .brief {
    font-style: italic;
    font-size: 17px;
    letter-spacing: -1px;
}

#main > .article > .text,
#main > .article > .text p {
    font-family: Georgia, serif;
    font-size: 15px;
    letter-spacing: 0;
}

@media (max-width: 1087px) {
    #main > .sidebar {
        display: none;
    }

    #main > .article {
        width: auto;
    }

    #main > .article > .info-header > .local-time {
        float: none;
    }

    #main > .article > .info-header > .share {
        float: none;
    }

    #main > .article > .text img {
        width: 100% !important;
        height: auto !important;
    }
}