.link img {
    width: 400px;
    margin: 23px;
}
.share{
    text-align: center;
    margin-bottom: 20px;
}
.share>span {
    color: #a6a6a6;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
   margin-right: 10px;
}
.share img {
    height: auto;
    margin: 4px;
    width: 26px;
    vertical-align: bottom;
}